<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <script src="https://cdn.tailwindcss.com"></script>
        <title>{{ title }}</title>
        <link rel="icon" href="static/logo.ico" />
    </head>
    <body>
        <main class="container">
            {% if alert %}
                <div class="p-2 mb-4 md:text-center rounded-md bg-cyan-600 opacity-55"><p class="text-white">{{ alert }}</p></div>
            {% endif %}
            <nav class="rounded-lg bg-gray-800 text-white p-2 mb-4">
              <ul class="flex">
                <img src="static/logo.png" class="rounded-md ml-2 hover:animate-ping" style="max-width: 100%;"><li class="text-2xl"><strong>{{ title }} - Web Admin </strong></li>
              </ul>
              <ul class="text-blue-600 hover:text-blue-400">
                <li><a href="{{ url_for('logs') }}">Logs</a></li>
              </ul>
            </nav>
            <div>
                <h2 class="text-xl">Time for today:</h2>
                <progress
                    value="{{ time_used }}"
                    max="{{ cfg['timeLimit'] }}"
                />
            </div>
            <p>Time used: <b>{{ time_used//60 }}m / {{ cfg["timeLimit"]//60 }}m</p></b>
            <br/>
            <div>
                <form action="{{ url_for('alert') }}" method="post">
                    <label for="alert">Send an alert to {{ "<PC NAME>" }}</label>
                    <input
                        type="text"
                        id="alert"
                        name="alert"
                        placeholder="Alert message"
                    />
                    <button type="submit">Send</button>
                </form>
            </div>
        </main>
    </body>
</html>
