<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
            integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script src="https://cdn.tailwindcss.com"></script>
        <title>{{ title }}</title>
        <link rel="icon" href="static/logo.ico" />
        <script src="https://unpkg.com/htmx.org@2.0.1"></script>
        <script src="static/index.js"></script>
    </head>
    <body>
        <main class="container">
            <div class="flex justify-center marquee 25s linear infinite">
                <p id="alert" class="mb-4 text-center animate-pulse"></p>
            </div>
            {% include 'nav.html' %}
            <details open>
                <summary role="button" class="secondary">
                    <i class="fa-solid fa-computer mr-1"></i>System overview
                </summary>
                <div
                    id="info"
                    hx-swap="innerHTML"
                    hx-get="/pc/sysinfo"
                    hx-indicator="#sysindicator"
                    hx-trigger="load, every 3s"
                ></div>
                <span
                    id="sysindicator"
                    class="htmx-indicator"
                    aria-busy="true"
                ></span>
            </details>
            <details>
                <summary role="button" class="secondary">
                    <i class="fa-solid fa-clock mr-1"></i>Time tracking
                </summary>
                <div
                    hx-get="/timeleft"
                    hx-swap="innerHTML"
                    hx-trigger="load delay:1s, every 1m"
                >
                    <br />
                </div>
            </details>
            <details>
                <summary role="button" class="secondary">
                    <i class="fa-solid fa-bell mr-1"></i>Alert
                </summary>
                <form
                    hx-post="{{ url_for('alert') }}"
                    hx-swap="textContent"
                    hx-target="#alert"
                    hx-indicator="#indicator"
                >
                    <label for="alert">Send an alert to </label>
                    <input
                        type="text"
                        id="alert"
                        name="alert"
                        placeholder="Alert message"
                    />
                    <button type="submit">Send</button>
                    <span id="indicator" class="htmx-indicator" aria-busy="true"
                        >Sending to {{ static_info['hostname'] }}</span
                    >
                </form>
            </details>
            <details>
                <summary role="button" class="secondary">
                    <i class="fa-solid fa-file-alt mr-1"></i>Logs
                </summary>
                <div id="logs"></div>
                <span
                    hx-get="/logs"
                    hx-target="#logs"
                    hx-trigger="load delay:1s"
                    hx-swap="innerHTML"
                ></span>
                <!-- <div hx-get="/logs" hx-trigger="load delay:1s"></div> -->
            </details>
        </main>
    </body>
</html>
